/dts-v1/;

#include "bcm2708.dtsi"
#include "bcm283x-rpi-smsc9512.dtsi"

// display ----------------------------
#define DISPL_RS       23 // (rpi pin 16) register select
// #define DISPL_RW       // read/write (non cablato con la rpi; tenerlo sempre basso con un pull down a GND)
#define DISPL_E        24 // (rpi pin 18) enable (clock)
#define DISPL_DB4      10 // (rpi pin 19) data bus
#define DISPL_DB5       9 // (rpi pin 21) data bus
#define DISPL_DB6      11 // (rpi pin 23) data bus
#define DISPL_DB7      25 // (rpi pin 22) data bus
// ------------------------------------

/ {
	model = "Raspberry Pi Model B";
};

&gpio {
	spi0_pins: spi0_pins {
		brcm,pins = <9 10 11>;
		brcm,function = <4>; /* alt0 */
	};

	spi0_cs_pins: spi0_cs_pins {
		brcm,pins = <8 7>;
		brcm,function = <1>; /* output */
	};

	i2c0_pins: i2c0 {
		brcm,pins = <0 1>;
		brcm,function = <4>;
	};

	i2c1_pins: i2c1 {
		brcm,pins = <2 3>;
		brcm,function = <4>;
	};

	i2s_pins: i2s {
		brcm,pins = <28 29 30 31>;
		brcm,function = <6>; /* alt2 */
	};

	audio_pins: audio_pins {
		brcm,pins = <40 45>;
		brcm,function = <4>;
	};

	hd44780_pins: hd44780_pins {
		brcm,pins = <DISPL_RS DISPL_E 
				DISPL_DB4 DISPL_DB5 
				DISPL_DB6 DISPL_DB7>;
		brcm,function = <1>;    // output
	};
};

&soc {
       hd44780: hd44780 {
               compatible = "hd44780";
               pinctrl-names = "default";
               pinctrl-0 = <&hd44780_pins>;
               // see Documentation/gpio/board.txt
               lcd-gpios = <&gpio DISPL_RS 0>,
                           <&gpio DISPL_E 0>,
                           <&gpio DISPL_DB4 0>,
                           <&gpio DISPL_DB5 0>,
                           <&gpio DISPL_DB6 0>,
                           <&gpio DISPL_DB7 0>;
               status="okay";
       };
};

&uart0 {
	status = "okay";
};

&spi0 {
	pinctrl-names = "default";
	pinctrl-0 = <&spi0_pins &spi0_cs_pins>;
	cs-gpios = <&gpio 8 1>, <&gpio 7 1>;

	spidev0: spidev@0{
		compatible = "spidev";
		reg = <0>;	/* CE0 */
		#address-cells = <1>;
		#size-cells = <0>;
		spi-max-frequency = <500000>;
	};

	spidev1: spidev@1{
		compatible = "spidev";
		reg = <1>;	/* CE1 */
		#address-cells = <1>;
		#size-cells = <0>;
		spi-max-frequency = <500000>;
	};
};

&i2c0 {
	pinctrl-names = "default";
	pinctrl-0 = <&i2c0_pins>;
	clock-frequency = <100000>;
};

&i2c1 {
	pinctrl-names = "default";
	pinctrl-0 = <&i2c1_pins>;
	clock-frequency = <100000>;
};

&i2c2 {
	clock-frequency = <100000>;
};

&i2s {
	pinctrl-names = "default";
	pinctrl-0 = <&i2s_pins>;
};

&leds {
	act_led: act {
		label = "led0";
		linux,default-trigger = "mmc0";
		gpios = <&gpio 16 1>;
	};
};

&hdmi {
	hpd-gpios = <&gpio 46 GPIO_ACTIVE_HIGH>;
};

&audio {
	pinctrl-names = "default";
	pinctrl-0 = <&audio_pins>;
};

/ {
	__overrides__ {
		act_led_gpio = <&act_led>,"gpios:4";
		act_led_activelow = <&act_led>,"gpios:8";
		act_led_trigger = <&act_led>,"linux,default-trigger";
	};
};
